.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

images
articles

!node_modules/sharp/**
!node_modules/@img/sharp-*/**
!node_modules/color/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/color-string/**
!node_modules/detect-libc/**
!node_modules/simple-swizzle/**
!node_modules/semver/**
